.vs/*
x64/*
Console/x64/*
QPanda-2.0.Algorithm/x64/*
QPanda-2.0.Core/x64/*
pyQPanda/x64/*
ThirdParty/TinyXML/x64/*
Release/bin/* 
Release/obj/*
*.a
*.o
Release/bin/test
pyQPanda/pyqpanda.egg-info
pyQPanda/*.so
pyQPanda/*.pyd
.vscode/
build/*
./config.h
/pyQPanda/benchmark.py
