# packages in environment at /home/bylz/anaconda3/envs/fj_py310:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                 conda_forge    conda-forge
_openmp_mutex             4.5                  2_kmp_llvm    conda-forge
atk-1.0                   2.36.0               ha1a6a79_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
blas                      1.0                         mkl    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
boost-cpp                 1.82.0               hdb19cb5_2    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
brotli                    1.0.9                    pypi_0    pypi
brotli-bin                1.0.9                h5eee18b_8    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
brotli-python             1.0.9           py310h6a678d5_8    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
bzip2                     1.0.8                h5eee18b_6    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
c-ares                    1.19.1               h5eee18b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
ca-certificates           2024.7.2             h06a4308_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
cairo                     1.16.0               hb05425b_5    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
certifi                   2024.7.4                 pypi_0    pypi
charset-normalizer        3.3.2              pyhd3eb1b0_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
contourpy                 1.2.0                    pypi_0    pypi
cycler                    0.11.0             pyhd3eb1b0_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
cyrus-sasl                2.1.28               h52b45da_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
cython                    3.0.10                   pypi_0    pypi
dbus                      1.13.18              hb2f20db_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
expat                     2.6.2                h6a678d5_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
font-ttf-dejavu-sans-mono 2.37                 hd3eb1b0_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
font-ttf-inconsolata      2.001                hcb22688_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
font-ttf-source-code-pro  2.030                hd3eb1b0_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
font-ttf-ubuntu           0.83                 h8b1ccd4_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
fontconfig                2.14.1               h55d465d_3    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
fonts-anaconda            1                    h8fa9717_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
fonts-conda-ecosystem     1                    hd3eb1b0_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
fonttools                 4.51.0                   pypi_0    pypi
freetype                  2.12.1               h4a9f257_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
fribidi                   1.0.10               h7b6447c_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
gdk-pixbuf                2.42.10              h5eee18b_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
giflib                    5.2.1                h5eee18b_3    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
glib                      2.78.4               h6a678d5_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
glib-tools                2.78.4               h6a678d5_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
gmssl                     3.2.1                    pypi_0    pypi
gobject-introspection     1.78.1          py310h42194e9_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
graphite2                 1.3.14               h295c915_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
graphviz                  2.50.0               h1b29801_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
gst-plugins-base          1.14.1               h6a678d5_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
gstreamer                 1.14.1               h5eee18b_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
gtk2                      2.24.33              h73c1081_2    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
gts                       0.7.6                hb67d8dd_3    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
harfbuzz                  4.3.0                hf52aaf7_2    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
icu                       73.1                 h6a678d5_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
idna                      3.7                      pypi_0    pypi
intel-openmp              2023.1.0         hdb19cb5_46306    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
jpeg                      9e                   h5eee18b_3    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
kiwisolver                1.4.4                    pypi_0    pypi
krb5                      1.20.1               h143b758_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
lcms2                     2.12                 h3be6417_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
ld_impl_linux-64          2.38                 h1181459_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
lerc                      3.0                  h295c915_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libboost                  1.82.0               h109eef0_2    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libbrotlicommon           1.0.9                h5eee18b_8    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libbrotlidec              1.0.9                h5eee18b_8    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libbrotlienc              1.0.9                h5eee18b_8    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libclang                  14.0.6          default_hc6dbbc7_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libclang13                14.0.6          default_he11475f_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libcups                   2.4.2                h2d74bed_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libcurl                   8.7.1                h251f7ec_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libdeflate                1.17                 h5eee18b_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libedit                   3.1.20230828         h5eee18b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libev                     4.33                 h7f8727e_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libffi                    3.4.4                h6a678d5_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libgcc-ng                 14.1.0               h77fa898_0    conda-forge
libgd                     2.3.3                h695aa2c_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libgfortran-ng            11.2.0               h00389a5_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libgfortran5              11.2.0               h1234567_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libglib                   2.78.4               hdc74915_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libiconv                  1.16                 h5eee18b_3    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libllvm14                 14.0.6               hdb19cb5_3    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libnghttp2                1.57.0               h2d74bed_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libpng                    1.6.39               h5eee18b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libpq                     12.17                hdbd6064_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
librsvg                   2.54.4               haac4a5d_4    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libssh2                   1.11.0               h251f7ec_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libstdcxx-ng              11.2.0               h1234567_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libtiff                   4.5.1                h6a678d5_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libtool                   2.4.6             h6a678d5_1009    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libuuid                   1.41.5               h5eee18b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libwebp                   1.3.2                h11a3e52_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libwebp-base              1.3.2                h5eee18b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libxcb                    1.15                 h7f8727e_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libxkbcommon              1.0.1                h097e994_2    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libxml2                   2.13.1               hfdd30dd_2    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
llvm-openmp               14.0.6               h9e868ea_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
lz4-c                     1.9.4                h6a678d5_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
matplotlib                3.8.4                    pypi_0    pypi
matplotlib-base           3.8.4           py310h1128e8f_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
mkl                       2023.1.0         h213fc3f_46344    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
mkl-fft                   1.3.8                    pypi_0    pypi
mkl-random                1.2.4                    pypi_0    pypi
mkl-service               2.4.0                    pypi_0    pypi
mkl_fft                   1.3.8           py310h5eee18b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
mkl_random                1.2.4           py310hdb19cb5_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
mypy                      0.971                    pypi_0    pypi
mypy_extensions           1.0.0              pyha770c72_0    conda-forge
mysql                     5.7.24               h721c034_2    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
ncurses                   6.4                  h6a678d5_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
networkx                  3.2.1                    pypi_0    pypi
ninja                     1.10.2               h06a4308_5    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
ninja-base                1.10.2               hd09550d_5    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
nspr                      4.35                 h6a678d5_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
nss                       3.89.1               h6a678d5_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
numpy                     1.26.4                   pypi_0    pypi
numpy-base                1.26.4          py310hb5e798b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
openjpeg                  2.5.2                he7f1fd0_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
openssl                   3.0.14               h5eee18b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
packaging                 24.1                     pypi_0    pypi
pango                     1.50.7               h05da053_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
parso                     0.8.3              pyhd3eb1b0_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
pcre2                     10.42                hebb0a14_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
pillow                    10.4.0                   pypi_0    pypi
pip                       24.2                     pypi_0    pypi
pixman                    0.40.0               h7f8727e_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
plotly                    5.22.0                   pypi_0    pypi
ply                       3.11                     pypi_0    pypi
poppler                   22.12.0              h9614445_3    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
poppler-data              0.4.11               h06a4308_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
psutil                    5.9.0                    pypi_0    pypi
pydot                     1.4.1                    pypi_0    pypi
pyparsing                 3.0.9                    pypi_0    pypi
pyqpanda                  3.8.3.4                  pypi_0    pypi
pyqt                      5.15.10         py310h6a678d5_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
pyqt5                     5.15.10                  pypi_0    pypi
pyqt5-sip                 12.13.0                  pypi_0    pypi
pysocks                   1.7.1                    pypi_0    pypi
python                    3.10.14              h955ad1f_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
python-dateutil           2.9.0.post0              pypi_0    pypi
python_abi                3.10                    2_cp310    conda-forge
qt-main                   5.15.2              h53bd1ea_10    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
readline                  8.2                  h5eee18b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
requests                  2.32.3                   pypi_0    pypi
scipy                     1.12.0                   pypi_0    pypi
setuptools                72.1.0                   pypi_0    pypi
sip                       6.7.12                   pypi_0    pypi
six                       1.16.0             pyhd3eb1b0_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
snowland-smx              0.3.1                    pypi_0    pypi
sqlite                    3.45.3               h5eee18b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
tbb                       2021.8.0             hdb19cb5_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
tenacity                  8.2.3                    pypi_0    pypi
tk                        8.6.14               h39e8969_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
tomli                     2.0.1                    pypi_0    pypi
tornado                   6.4.1                    pypi_0    pypi
typing-extensions         4.11.0                   pypi_0    pypi
typing_extensions         4.11.0          py310h06a4308_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
tzdata                    2024a                h04d1e81_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
unicodedata2              15.1.0                   pypi_0    pypi
urllib3                   2.2.2                    pypi_0    pypi
wheel                     0.43.0                   pypi_0    pypi
xz                        5.4.6                h5eee18b_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
zlib                      1.2.13               h5eee18b_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
zstd                      1.5.5                hc292b87_2    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
